.videoGridClass {
  display: grid;
}

.video-grid-class > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.localVideoClass {
  width: 200px;
}

.video-class > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .videoGridClass {
    display: grid;
  }

  .video-grid-class > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .localVideoClass {
    width: 50px;
  }

  .video-class > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
